<p id="notice"><%= notice %></p>

<p>
  <b>Urgency:</b>
  <%= @tempest.urgency %>
</p>

<p>
  <b>Occupancy:</b>
  <%= @tempest.occupancy %>
</p>

<p>
  <b>Power:</b>
  <%= @tempest.power %>
</p>

<p>
  <b>Heat:</b>
  <%= @tempest.heat %>
</p>

<p>
  <b>Hotwater:</b>
  <%= @tempest.hotWater %>
</p>

<p>
  <b>Meals:</b>
  <%= @tempest.meals %>
</p>

<p>
  <b>Dietrestrictions:</b>
  <%= @tempest.dietRestrictions %>
</p>

<p>
  <b>Flashlight:</b>
  <%= @tempest.flashlight %>
</p>

<p>
  <b>Batteries:</b>
  <%= @tempest.batteries %>
</p>

<p>
  <b>Blankets:</b>
  <%= @tempest.blankets %>
</p>

<p>
  <b>Personal:</b>
  <%= @tempest.personal %>
</p>

<p>
  <b>Cleanup:</b>
  <%= @tempest.cleanUp %>
</p>

<p>
  <b>Fooddistro:</b>
  <%= @tempest.foodDistro %>
</p>

<p>
  <b>Kitchen:</b>
  <%= @tempest.kitchen %>
</p>

<p>
  <b>Namelast:</b>
  <%= @tempest.nameLast %>
</p>

<p>
  <b>Namefirst:</b>
  <%= @tempest.nameFirst %>
</p>

<p>
  <b>Zip:</b>
  <%= @tempest.zip %>
</p>

<p>
  <b>Streetcode:</b>
  <%= @tempest.streetCode %>
</p>

<p>
  <b>Phone:</b>
  <%= @tempest.phone %>
</p>

<p>
  <b>Datetime:</b>
  <%= @tempest.dateTime %>
</p>

<p>
  <b>Results:</b>
  <%= @tempest.results %>
</p>

<p>
  <b>Revisit:</b>
  <%= @tempest.revisit %>
</p>

<p>
  <b>Complete:</b>
  <%= @tempest.complete %>
</p>


<%= link_to 'Edit', edit_tempest_path(@tempest) %> |
<%= link_to 'Back', tempests_path %>
